html{
  height:100%;
}

body{
  height:inherit;
  margin:0;
}

.container{
  height:inherit;
  font-family: "Roboto";
  display:grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.main{
  display:grid;
  grid-template-rows: auto 1fr;
}

.sidebar{
  background:rgb(255, 75, 75);
  color:white;
  font-size:20px;
  font-weight:bold;
  padding:0 20px;
}

.sidebar ul{
  list-style-type: none;
  padding-left:0px;

}

.sidebar ul li{
  display:grid;
  grid-template-columns: 40px 10fr;
  align-items: center;
  gap:10px;
  padding: 10px;
}

.sidebar ul li:first-child{
  font-size:30px;
  padding-bottom: 40px;
}

.sidebar ul li img{
  justify-self: center;
}

.innermain{
  background-color: rgb(218, 218, 218);
}

.header{
  display:grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
  padding: 10px 50px;
}

.searchbar{
  display:grid;
  grid-template-columns:auto 1fr;
  gap:20px;
  align-items: center;
}

.searchbar input{
  background-color: rgb(218, 218, 218);
  font-size:20px;
  padding:4px 12px;
  border:none;
  border-radius:18px;
}

.account{
  padding-left:max(30px,20%);
  display:grid;
  grid-template-columns: auto auto auto;
  gap:36px;
  align-items: center;
  font-weight: bold;
}

.profile{
  border:2px solid black;
  border-radius: 100%;
  object-fit: cover;
}

.profile-small{
  width:40px;
  height:40px;
}

.profile-large{
  width:60px;
  height:60px;
}

.greeting{
  display:grid;
  grid-template-columns: auto auto;
}